.pdf-button {
    background-color: rgb(88, 196, 124);
    height: 40px;
    padding: 5px;
    width: 300px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 30px;
}

.dwnld-box {
    background-color: rgb(190, 198, 224);
    height: 200px;
    border-radius: 5px;
}

.pdf-button:hover {
    background-color: rgb(192, 223, 130);
}

.premium-link {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
}