.header-btn-link {
    color: rgb(24, 21, 18);
    text-decoration: none;
    font-size: larger;
    font-weight: 600;
}

.headerButton {
    background-color: rgb(187, 172, 236);
    border: 1 px solid white;
    margin-right: 8px;
    height: 40px;
    border-radius: 5px;
    color: black;
}

.user-icon {
    font-size: x-large;
    margin-right: 20px;
    margin-top: 10px;
}

.logo-img {
    height: 30px;
    margin-right: 10px;

}