.crs-video-link {
    text-decoration: none;
    font-size: larger;
    font-weight: 600;

}

.name-show {
    color: green;

}

.checkout-container {
    margin-top: 90px;
    padding: 30px;
    background-color: rgb(241, 226, 226);
    border-radius: 5px;
}